<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <settings>
    <!-- Enable camelCase mapping -->
    <setting name="mapUnderscoreToCamelCase" value="true"/>
    <!-- Print SQL to stdout via SLF4J bridge -->
    <setting name="logImpl" value="SLF4J"/>
  </settings>

  <typeAliases>
    <package name="com.community.domain"/>
  </typeAliases>

</configuration>
